*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 15px;
    font-weight: 300;
    color: black;
    font-family: 'Poppins', sans-serif;
}


.row{
    max-width: 1300px;
    margin: 0 auto 0 auto; 
    
}

header{
    background-color: #ededed;
    height: 120vh;
 
}

.all{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.drawer{
    width: 2rem;
    display: none;
}

/* .main-nav{
    
} */

.sub-nav{
    display: flex;
    justify-content: space-between;
}

.sub-nav li{
    list-style: none;
    margin-right: 3rem;
}

.get-started-btn a{
    text-decoration: none;
    background-color: black;
    color: white;
    padding: .7rem;
}

.welcome-content{
    position: absolute;
    top: 30%;
    left: 48%;
    transform: translate(-50%,-50%);
    text-align: center;
    
    
    
}

.twin-btns{
   margin-top: 1.5rem;
}

.btn-1{
    padding: .7rem 1rem;
    background-color: black;
    color: white;
    text-decoration: none;
     
}
.btn-2{
     padding: .6rem 1rem;
    background-color: transparent;
    color: black;
    text-decoration: none;
    border: 1px solid black;
}

.header-image{
     display: grid;
    place-items:center;
    margin-top: 10rem;
    margin-right: 2rem;
    
}

.main-img{
    width: 50%;
}


/* -----------------------
-------------------------
----------SECTION---------
-------------------------- */

section{
    padding-top: 3rem;
}

h2{
    text-align: center;
}

.part-1{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section-image-1{
    width: 40rem;
}


.heading-para{
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 500;
    margin-bottom: 10px;
}

.part-1 a{
    background-color: black ;
    color: white;
    padding: 10px 30px;
    
}

.part-2 a{
    background-color: black ;
    color: white;
    padding: 10px 30px;
}

.learn-more{
    margin-top: 20px;
}


.part-2{
    display: flex;
    align-items: center;
    justify-content: space-between;
}




/* -----------------------
-------------------------
----------FOOTER---------
-------------------------- */

footer{
    background-color: black;
    color: white;
    padding: 2rem 0rem 4rem;
}

.foot{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.inquiry{
    display: flex;
    justify-content: space-between;
    width: 30%;
}
.inquiry li{
    list-style: none;
}

.top-list{
    font-size: 17px;
    text-transform: capitalize;
    margin-bottom: 5px;
}

.foot a{
    background-color: white ;
    color: black;
    padding: 10px 30px;
    text-decoration: none;
}





